<mat-grid-list cols="12">
  <mat-toolbar color="primary">
    <span>{{title}}</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="userService.Status | async as userInfo">
      <span *ngIf="userInfo.logged">
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Zdravo, {{userInfo.user.name}}</button>
          <button mat-menu-item (click)="onLogout()">Odjava</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </span>
    </span>
  </mat-toolbar>
</mat-grid-list>
<mat-grid-list cols="4" rowHeight="100px">
  <router-outlet></router-outlet>
</mat-grid-list>